.aboutUs{
    width: 80vw;
    margin: 50px auto;
    color: #002e3d;
    h1{
        margin-bottom: 20px;
        font-size: 40px;
        color: #1e3a8a;
    }
    p{
        font-size: 1.1rem;
        margin: 25px 0px;
        color: #4a5568;
    }
}